@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpcontext;

@{
    ViewData["Title"] = "StudentEducations";
}
@using myschool.Dtos
@using myschool.Models
@model List<EducationDto>
<h1>StudentEducations</h1>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="">

            @foreach (EducationDto e in Model)
            {
                @*<div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a asp-area="Student" asp-controller="Main" asp-action="EducationGrades" asp-route-educationId="@e.Id" class="card-link">@e.Name</a>
                        <h6 class="card-subtitle mb-2 text-muted">معدل = @e.Grade</h6>
                        @foreach (LectureDto l in e.Lectures)
                        {
                            <p class="card-text">@l.Name (@l.Factor)</p>
                        }
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>*@



                <div class="card text-right w-100">
                    @*<img src="..." class="card-img-top" alt="...">*@
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-area="Student" asp-controller="Main" asp-action="EducationGrades" asp-route-educationId="@e.Id" class="card-link">@e.Name</a>
                        </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    @foreach (LectureDto l in e.Lectures)
                    {
                        <div class="card-body">
                            <p class="card-text">@l.Name (@l.Factor)</p>
                        </div>
                    }
                </div>
            }

        </div>

    </div>
    <div class="col-1"></div>
</div>